.uploader {
    position: relative;
}

.uploader .statusBar {
    position: absolute;
    left: 0;
    top: 0;
}

.uploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 100px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    margin-right: 10px;
}

.uploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}

.uploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}